---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .page-header { padding: 2rem 3rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header { padding: 1.5rem 2.5rem; }
}

.page-header a{
  color: white;
}
.post {
  padding: 1rem 0;
}
.blurb {
  padding-left: 4rem;
}
